@charset "utf-8";
/* CSS Document */

.img{
	background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
	height: 80vh;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
/*	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)!important;*/

}
@media(max-width:981px){
	.img{
		background-size: cover!important;
		height: 40vh;
		background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
	}
}
.bg{
	background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url("../images/new11.jpg");
	
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
/*	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)!important;*/

}
.nav-link{
	color: white !important;
}

 .nav-link:hover{
	color: #0A4869!important;
}
.smtext{
	font-size: 40px;
	text-align: center;
	line-height: 1.2em;
	color: white !important;
	font-weight: normal;
}
.afi:hover{
	transform: scale(1.5);
}
